/* styles.css for 01-css-methods */


div {
    background-color: red;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
}

